{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            {# <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr> #}
            {# <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr> #}
            {# <tr>
                <th>Amount</th>
                <td>{{ user.amount }}</td>
            </tr> #}
        </tbody>
    </table>

    <p>
        Votre solde est de: {{ amount }} euros (€)
    </p>

    <p>
        <h4>
            Mes transactions
        </h4>

        

<table class="table">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Date</th>
                <th>Type</th>
                <th>Catégorie</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in user.transactions %}
            <tr>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.date ? transaction.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.category }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    </p>
    <div>
        Mes transactions Catégorie Resto:

         <table class="table">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Date</th>
                <th>Type</th>
                <th>Catégorie</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactionsFiltredCategoryResto %}
            <tr>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.date ? transaction.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.category }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

        <div>
        Mes transactions en débit:

         <table class="table">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Date</th>
                <th>Type</th>
                <th>Catégorie</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactionsFiltredTypeDebit %}
            <tr>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.date ? transaction.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.category }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>


    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
